
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Layout.cshtml";
}

<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded" src="~/img/about2.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="mb-4">
                    <h5 class="d-inline-block renk_4 text-uppercase border-bottom border-5">Hakkımızda</h5>
                    <h1 class="display-4">Geleceğiniz İçin En İyi Yatırım Yazılım Dünyası</h1>
                </div>
                <p>Geleceğiniz için en iyi yatırımı yapmanın tam zamanı! Yazılım dünyası, hızla gelişen teknoloji sektöründe sınırsız fırsatlar sunuyor. Kariyeriniz için geniş bir alan ve çeşitli uzmanlık alanlarına sahip olan yazılım dünyası, sürekli ilerleyen bir sektördür. Teknolojiye olan talep artarken, yazılım becerileri de her geçen gün daha da değerli hale geliyor. Yazılım dünyasında yerinizi alarak geleceğiniz için sağlam bir temel oluşturabilir ve başarılı bir kariyere adım atabilirsiniz.</p>
                <div class="row g-3 pt-3">
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-chalkboard-teacher renk_4 mb-3"></i>
                            <h6 class="mb-0">Alanında Uzman<small class="d-block renk_4">Eğitimciler</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-code renk_4 mb-3"></i>
                            <h6 class="mb-0">Yazılım<small class="d-block renk_4">Hizmetleri</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-desktop renk_4 mb-3"></i>
                            <h6 class="mb-0">Canlı<small class="d-block renk_4">Dersler</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-certificate renk_4 mb-3"></i>
                            <h6 class="mb-0">Sertifikalı<small class="d-block renk_4">Projeler</small></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
